<h1 class="dashboard-header">
    Lista zamówień 
</h1>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Zamawiający</th>
            <th>Adres</th>
            <th>Produkty</th>
            <th class="text-right">Czynność</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(orders, function(order) { %>
            <tr>
                <td>
                    <strong><%= order.name %></strong><br/>
                    <%= order.email %>
                </td>
                <td>
                    <%= order.address %><br/>
                    Telefon: <%= order.phone %>
                </td>
                <td>
                    <% _.each(order.product_refs, function(product) { %>
                        <div>
                            <a class="label label-info" href="#products/<%= product.id %>/edit"><%= product.title %></a>
                        </div>
                    <% }) %>
                </td>
                <td class="text-right">
                    <% if (!order.done) { %>
                        <a href="#orders/<%= order.id %>/realise" class="btn btn-default btn-sm"><i class="fa fa-pencil"> Oznacz jako zreealizowane</i></a>
                    <% } %>
                    <a href="#orders/<%= order.id %>/remove" class="btn btn-danger btn-sm btn-confirm"><i class="fa fa-trash-o"> Usuń</i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<div class="row">
    <div class="col-xs-6">
        <a class="btn btn-info" href="#dashboard">
            <i class="fa fa-backward"></i> Wstecz
        </a>
    </div>
    <div class="clearfix"></div>
</div>
