<div class="container-auth-panel text-right">
    <i class="fa fa-user"></i> Zalogowany jako: <%= user.surname %> (<%= user.username %>) <%= user.lastname %>
    <a href="#logout" class="btn btn-primary btn-xs"><i class="fa fa-power-off"></i> Wyloguj mnie</a>
    <br/>
    <div class="badge badge-primary">
        Publiczny token autoryzacyjny: <%= user.pubToken %> 
    </div>
</div>
