<div class="container-auth container">
    <h1 class="admin-auth-heading"><i class="fa fa-area-chart"></i> Hurtownik - administracja</h1>
    <div class="spa-flash"></div>
    <form>
        <div class="form-group">
            <label for="inputUsername">Nazwa użytkownia</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Nazwa użytkownka" />
        </div>
        <div class="form-group">
            <label for="inputPassword">Hasło</label>
            <input type="password" class="form-control" id="inputPassword1" placeholder="Hasło">
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
    </form>
</div>
