<ol class="breadcrumb">
        <li>
            <a href="#dashboard">Główna</a>
        </li>
    <% _.each(breadcrumb, function(item) { %>
        <li>
            <a href="<%= item.route %>"><%= item.title %></a>
        </li>
    <% }) %>
</ol>
