<div class="row">
    <div class="col-lg-4">
        <a class="btn btn-default btn-lg" href="#categories">
            <i class="fa fa-folder fa-4x"></i>
            <div>Zarządzanie kategoriami</div>
        </a>
    </div>
    <div class="col-lg-4">
        <a class="btn btn-default btn-lg" href="#products">
            <i class="fa fa-book fa-4x"></i>
            <div>Zarządzanie produktami</div>
        </a>
    </div>
    <div class="col-lg-4">
        <a class="btn btn-default btn-lg" href="#orders">
            <i class="fa fa-envelope fa-4x"></i>
            <div>Zarządzanie zamówieniami</div>
        </a>
    </div>
</div>

