<div class="container-dashboard container">
    <h1 class="admin-auth-heading"><i class="fa fa-area-chart"></i> HurtAdmin</h1>
    <div class="spa-auth-panel"></div>
    <div class="spa-flash"></div>
    <div class="spa-breadcrumb"></div>
    <div class="spa-dashboard-container"></div>
</div>
