<h1 class="dashboard-header">
    Dodawanie kategorii
</h1>

<form>
    <div class="form-area"></div>
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-info" href="#categories">
                <i class="fa fa-backward"></i> Wstecz
            </a>
        </div>
        <div class="col-xs-6 text-right">
            <button type="submit" class="btn btn-primary">Dodaj kategorię</button>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
