<h1 class="dashboard-header">
    Lista kategorii
</h1>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th class="text-right">Czynność</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(categories, function(category) { %>
            <tr>
                <td><%= category.title %></td>
                <td class="text-right">
                    <a href="#categories/<%= category.id %>/edit" class="btn btn-default btn-sm"><i class="fa fa-pencil"> Edytuj</i></a>
                    <a href="#categories/<%= category.id %>/remove" class="btn btn-danger btn-sm btn-confirm"><i class="fa fa-trash-o"> Usuń</i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<div class="row">
    <div class="col-xs-6">
        <a class="btn btn-info" href="#dashboard">
            <i class="fa fa-backward"></i> Wstecz
        </a>
    </div>
    <div class="col-xs-6 text-right">
        <a class="btn btn-primary" href="#categories/add">
            <i class="fa fa-plus"></i> Dodaj nową kategorię
        </a>
    </div>
    <div class="clearfix"></div>
</div>
