$fa-font-path: "/assets/bower_components/components-font-awesome/fonts/";

@import "../bower_components/bootstrap-sass/lib/bootstrap.scss";
@import "../bower_components/components-font-awesome/scss/font-awesome.scss";

body {
    background: url(/assets/img/bg.jpg);
}

.spa-loader {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: #000;
}

.admin-auth-heading {
    margin-bottom: 30px;
}

.dashboard-header {
    margin-bottom: 30px;
}

.spa-auth-panel {
    margin-bottom: 20px;
}

.container-dashboard {
    background: #fff;
    padding-bottom: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.container-auth {
    background: #fff;
    padding-bottom: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 5%;
}

.product-image-thumb {
  width: 10%;
}

.product-image-thumb img {
  width: 100%;
}