<!DOCTYPE html>
<html>
<head>
    <title>Backend</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/assets/css/common.css" type="text/css" />
</head>
<body>
<div class="spa-container"></div>
<div class="spa-loader">
    <i class="fa fa-circle-o-notch fa-5x fa-spinner fa-spin"></i>
</div>
<script src="/assets/bower_components/requirejs/require.js" data-main="/assets/js/config"></script>
</body>
</html>
