<h1 class="dashboard-header">
    Lista produktów
</h1>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Produkt</th>
            <th>Opis</th>
            <th>Cena [PLN]</th>
            <th class="text-right">Czynność</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(products, function(product) { %>
            <tr>
                <td class="product-image-thumb">
                    <img src="<%= product.image %>" alt="<%= product.title %>"/>
                </td>
                <td><%= product.title %></td>
                <td><%= product.description %></td>
                <td><%= product.price %>PLN</td>
                <td class="text-right">
                    <a href="#products/<%= product.id %>/edit" class="btn btn-default btn-sm"><i class="fa fa-pencil"> Edytuj</i></a>
                    <a href="#products/<%= product.id %>/remove" class="btn btn-danger btn-sm btn-confirm"><i class="fa fa-trash-o"> Usuń</i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<div class="row">
    <div class="col-xs-6">
        <a class="btn btn-info" href="#dashboard">
            <i class="fa fa-backward"></i> Wstecz
        </a>
    </div>
    <div class="col-xs-6 text-right">
        <a class="btn btn-primary" href="#products/add">
            <i class="fa fa-plus"></i> Dodaj nowy produkt
        </a>
    </div>
    <div class="clearfix"></div>
</div>
